<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
<div>
  <h2>
    <%= @user.location %></br>
    <%= @user.profile %></br>
    <%= link_to "Edit your profile", edit_user_path, class: "btn btn-sm btn-primary"%>
  </h2>
  
</div>

